{% extends "NRTestPetClinicBundle::layout.html.twig" %}

{% block title "Filter owners" %}

{% block content %}
<form action="{{ path('owner_find_by_name') }}" method="GET">
	{{ form_widget(form) }}
	<input type="submit">
</form>
{% endblock %}