{% extends "NRTestPetClinicBundle::layout.html.twig" %}

{% block title "Home Page" %}

{% block content %}
<h1></h1>
<ul>
	<li><a href="{{ path('owner_filter_form') }}">Find Owners</a></li>
	<li><a href="{{ path('vet') }}">All Vets</a></li>
</ul>
{% endblock %}