{% extends "NRTestPetClinicBundle::layout.html.twig" %}

{% block title "Home Page" %}

{% block content %}
<h1></h1>
<ul>
	<li><a href="/petclinic/owner/find_owners">Find Owners</a></li>
	<li><a href="/petclinic/vet/">All Vets</a></li>
</ul>
{% endblock %}